atlastk==0.10.7
certifi==2019.9.11
chardet==3.0.4
Cheetah==2.4.4
CherryTree==0.38.9
configobj==5.0.6
configparser==4.0.2
decorator==4.4.1
filelock==3.0.12
future==0.18.2
httplib2==0.14.0
idna==2.8
isodate==0.6.0
lxml==4.4.1
networkx==2.2
numpy==1.16.5
pandas==0.24.2
Pillow==8.1.1
prov==1.5.3
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pydotplus==2.0.2
pyenchant==2.0.0
pygobject==3.26.1
PyMuPDF==1.16.8
pyparsing==2.4.5
pyparted==3.11.1
PyPDF2==1.26.0
python-apt==1.6.4
python-dateutil==2.8.1
python-xapp==1.6.0
python-xlib==0.20
pytz==2019.3
pyxdg==0.26
pyxnat==1.2.1.0.post3
rdflib==4.2.2
requests==2.22.0
scipy==1.2.2
setproctitle==1.1.10
six==1.11.0
tika==1.19
urllib3==1.25.6
wxPython==4.0.7.post2
